body {
    padding:0px;
    margin:0px;
}

#date {
    
    padding:10px;
    border: 2px solid;
    border-radius: 5px;
    width:280px;
    text-align: center;
    float:left;
}
.box {
    padding:10px;
    border: 2px solid;
    border-radius: 5px;
    width:280px;

}

